    <div class="fixed w-full z-50 px-7 pt-7">
        <div class="mx-auto xl:max-w-screen-xl bg-gradient-to-br from-green-800 to-green-900 rounded-2xl shadow-2xl">
            <div class="flex flex-row">
                <div class="basis-1/2">
                    <a href="/" aria-current="page" class="px-5">
                        <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632dc607ebc54213457aca47_Logo-light.svg" loading="lazy" alt="" class=""/>
                    </a>
                </div>
                <div class="basis-1/2">
                    <div class="flex flex-row text-center h-full pr-3">
                        <a href="/services" class="basis-1/4 py-6 cursor-pointer uppercase text-white hover:underline">services</a>
                        <a href="/about-us" class="basis-1/4 py-6 cursor-pointer uppercase text-white hover:underline">about us</a>
                        <a href="/projects" class="basis-1/4 py-6 cursor-pointer uppercase text-white hover:underline">projects</a>
                        <a href="/contact" class="basis-1/4 py-3 cursor-pointer uppercase text-white hover:underline">
                            <div class="bg-yellow-600 py-3 rounded-lg">contact</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row">
        <div class="basis-full bg-hero bg-no-repeat bg-center bg-auto bg-cover h-screen pt-40 px-7">
            <div class="flex-row mx-auto xl:max-w-screen-xl text-white">
                <div class="px-10 mx-14 py-14">
                    <app-chistmas-tree-order></app-chistmas-tree-order>
                </div>
            </div>
        </div>
    </div>
    
    <!--
    <div data-w-id="cfb7fe4e-07e7-6eb9-725c-4912f0c0cc49" class="section-hero">
        
       <div class="block-home-hero">
    
        
          <div class="hero">

             <div data-w-id="d76b6d24-381a-0527-a234-556d722774f4" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="text-subtitle">INSTANT. SIMPLE. SMART.</div>
             <h1 data-w-id="527483a2-0d7e-171a-7110-1d9532054158" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="heading-hero">Landscaping &amp; smart green solutions</h1>
             <div data-w-id="dc54bd88-25f5-8535-0e46-f33ea5a0034b" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="_2-button-block">
                <a href="/about-us" class="tertiary-button w-button">about us</a>
                <div class="spacer _24"></div>
                <a href="/projects" class="primary-button w-button">projects</a>
             </div>
          </div>
       </div>
       <div class="hero-bottom-feature">

          <div class="w-layout-grid hero-column-grid">
             <div id="w-node-fd134dbb-b61d-9b2b-a371-d2e716599da4-5a6471ce" data-w-id="fd134dbb-b61d-9b2b-a371-d2e716599da4" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="scroll-indicator-block">
                <div class="scroll-indicator">
                   <div style="-webkit-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="indicator-fill"></div>
                </div>
             </div>
             <div id="w-node-da534b1d-7dc0-2fef-48db-08782f21b15f-5a6471ce" data-w-id="da534b1d-7dc0-2fef-48db-08782f21b15f" style="opacity:100;-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="featured-block">
                <div class="featured-project-column">
                   <div class="rotated-text">featured</div>
                </div>
                <a href="#" class="featured-project-video w-inline-block w-lightbox">
                   <div class="video-icon-wrapper"><img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/62cd5da1e1c3b9234c1b3dfa_video_icon.svg" loading="lazy" alt="" class="video-icon"/></div>
                   <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "url": "https://www.youtube.com/watch?v=hGizn_843Mo",
                          "originalUrl": "https://www.youtube.com/watch?v=hGizn_843Mo",
                          "width": 940,
                          "height": 528,
                          "thumbnailUrl": "https://i.ytimg.com/vi/hGizn_843Mo/hqdefault.jpg",
                          "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FhGizn_843Mo%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DhGizn_843Mo&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FhGizn_843Mo%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
                          "type": "video"
                        }
                      ],
                      "group": ""
                      }
                   </script>
                </a>
                <div class="featured-project-content">
                   <div class="featured-project-name">SAN FRANCISCO</div>
                   <div class="featured-project-info">Architect Rowan Smith</div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div id="Services" class="section">
        <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632d6f6f646f56256a2c5606_shape_04.svg" loading="lazy" alt="" class="shape _01"/>
        <div class="content">
           <div class="services-block">
              <div class="heading-block">
                 <div class="heading-block-text">
                    <div data-w-id="00254711-d574-0b69-2d2e-415ca41a3a71" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:100" class="text-subtitle green">LEADER IN LANDSCAPING</div>
                    <h2 data-w-id="22c2f5e5-6fa5-011d-fce3-53a71c38f600" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:10" class="heading h2">Services</h2>
                 </div>
                 <p data-w-id="cd097c1b-ab1d-f7fa-c5c1-7a9fbcd407a3" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:10" class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
              </div>
              <div id="w-node-ddc14961-1aa1-5df7-024c-35927917d58b-5a6471ce" class="services w-dyn-list">
                 <div role="list" class="service-collection-cards w-dyn-items">
                    <div role="listitem" class="service-card-item w-dyn-item">
                       <a data-w-id="c46c67c4-9392-ebaa-4446-b0b0ead6a4d7" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" href="/services/maintenance" class="service-card w-inline-block">
                          <img loading="lazy" alt="" src="https://assets.website-files.com/6335fcfe0152d9029eed44c4/633601fc7c39cec680a7114f_icons8-watering-can.svg" class="icon"/>
                          <div class="spacer _24"></div>
                          <h3 class="heading">Maintenance</h3>
                          <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                          <div class="read-text-block">
                             <div class="read-text">Read more</div>
                             <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632d779985638e3628728a79_tiny_arrow.svg" loading="lazy" alt="" class="service-arrow"/>
                          </div>
                       </a>
                    </div>
                    <div role="listitem" class="service-card-item w-dyn-item">
                       <a data-w-id="c46c67c4-9392-ebaa-4446-b0b0ead6a4d7" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" href="/services/tree-care" class="service-card w-inline-block">
                          <img loading="lazy" alt="" src="https://assets.website-files.com/6335fcfe0152d9029eed44c4/633602d41408b73b49a0f262_icons8-forest.svg" class="icon"/>
                          <div class="spacer _24"></div>
                          <h3 class="heading">Tree care</h3>
                          <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                          <div class="read-text-block">
                             <div class="read-text">Read more</div>
                             <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632d779985638e3628728a79_tiny_arrow.svg" loading="lazy" alt="" class="service-arrow"/>
                          </div>
                       </a>
                    </div>
                    <div role="listitem" class="service-card-item w-dyn-item">
                       <a data-w-id="c46c67c4-9392-ebaa-4446-b0b0ead6a4d7" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" href="/services/pruning" class="service-card w-inline-block">
                          <img loading="lazy" alt="" src="https://assets.website-files.com/6335fcfe0152d9029eed44c4/633602b59c570c457857e84c_icons8-garden-shears.svg" class="icon"/>
                          <div class="spacer _24"></div>
                          <h3 class="heading">Pruning</h3>
                          <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                          <div class="read-text-block">
                             <div class="read-text">Read more</div>
                             <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632d779985638e3628728a79_tiny_arrow.svg" loading="lazy" alt="" class="service-arrow"/>
                          </div>
                       </a>
                    </div>
                    <div role="listitem" class="service-card-item w-dyn-item">
                       <a data-w-id="c46c67c4-9392-ebaa-4446-b0b0ead6a4d7" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" href="/services/landscaping" class="service-card w-inline-block">
                          <img loading="lazy" alt="" src="https://assets.website-files.com/6335fcfe0152d9029eed44c4/633602ff1181446d983d2c84_icons8-spade.svg" class="icon"/>
                          <div class="spacer _24"></div>
                          <h3 class="heading">Landscaping</h3>
                          <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                          <div class="read-text-block">
                             <div class="read-text">Read more</div>
                             <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632d779985638e3628728a79_tiny_arrow.svg" loading="lazy" alt="" class="service-arrow"/>
                          </div>
                       </a>
                    </div>
                 </div>
              </div>
              <div class="spacer _32"></div>
              <div class="button-block"><a href="#" class="secundary-button w-button">services</a></div>
           </div>
        </div>
     </div>
    <div id="About" class="section">
       <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632d706299d271d8226f3294_shape_02.svg" loading="lazy" alt="" class="shape _02"/>
       <div class="content">
          <div class="w-layout-grid _2-column-grid">
             <div id="w-node-d0258dc1-26dd-d8df-afb2-c7b73c3cf182-5a6471ce" class="text-box _800px">
                <div data-w-id="9bf7946c-300c-985f-ca26-c57b1e28538b" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="text-subtitle green">About us</div>
                <h2 data-w-id="9db1a7dc-b493-fe6c-aa09-84ebcf97704f" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="heading h2">A beautiful garden is <br/>a work of <span class="text-accent">Art</span>.</h2>
                <p data-w-id="91c5fd6a-ee46-2a37-3529-1970d74b0397" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.<br/><br/> Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
             </div>
             <div class="block-image">
                <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b00e7139cbc2249fb2d55_about_home.jpg" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" srcset="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b00e7139cbc2249fb2d55_about_home-p-500.jpg 500w, https://assets.website-files.com/62cbe7468074156bfe6471cd/632b00e7139cbc2249fb2d55_about_home-p-800.jpg 800w, https://assets.website-files.com/62cbe7468074156bfe6471cd/632b00e7139cbc2249fb2d55_about_home.jpg 1248w" sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, 92vw" class="image"/>
                <div data-w-id="9549092b-81cd-5436-aa1d-c784613d8024" style="display:flex" class="image-animation-trigger"></div>
             </div>
          </div>
       </div>
    </div>
    <div class="section">
       <div class="content">
          <div data-w-id="614b29b9-99f5-0963-3066-0e396f59a958" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);" class="achievement-block">
             <div class="w-layout-grid _4-column-grid">
                <div id="w-node-_4a5a54b6-4b84-2837-12ed-e6249a189bb3-5a6471ce" class="achievement-text">
                   <div class="text-subtitle center">some numbers</div>
                   <h2 class="heading h2 white">What we did so far</h2>
                </div>
                <div id="w-node-ca7d0e28-c1cc-4718-e962-2924109c35c6-5a6471ce" class="achievement">
                   <div class="achievement-number">350+</div>
                   <div class="achievement-title">completed projects</div>
                </div>
                <div id="w-node-fbb45ec6-025e-9923-0b4c-644c9ca1f367-5a6471ce" class="achievement">
                   <div class="achievement-number">12+</div>
                   <div class="achievement-title">years experience</div>
                </div>
                <div id="w-node-_6f86e1fd-3d41-af20-bc6e-f674dfe5997a-5a6471ce" class="achievement">
                   <div class="achievement-number">5+</div>
                   <div class="achievement-title">teammembers</div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div id="Projects" class="section">
       <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632d6f6fe68d3a8b2f38e018_shape_03.svg" loading="lazy" alt="" class="shape _03"/>
       <div class="content">
          <div class="projects-grid">
             <a href="#" id="w-node-_56578162-5cd8-a4bd-e557-303b14a44e08-5a6471ce" class="project-cards w-inline-block w-lightbox">
                <div id="w-node-ed9eb735-d4e4-fbba-913a-77ed385fbb7a-5a6471ce" class="project-image top">
                   <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b0110585e1955372c26db_project_home_01.jpg" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" srcset="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b0110585e1955372c26db_project_home_01-p-500.jpg 500w, https://assets.website-files.com/62cbe7468074156bfe6471cd/632b0110585e1955372c26db_project_home_01.jpg 979w" sizes="(max-width: 479px) 87vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 25vw" class="image"/>
                   <div data-w-id="5f4293e3-1140-11d6-df7d-3d2b689cb775" style="display:flex" class="image-animation-trigger"></div>
                </div>
                <div id="w-node-_0af71c94-e05a-490b-e1af-1e308f8edeb3-5a6471ce" class="project-image">
                   <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b0110af6bfc44d7901997_project_home_02.jpg" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" srcset="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b0110af6bfc44d7901997_project_home_02-p-500.jpg 500w, https://assets.website-files.com/62cbe7468074156bfe6471cd/632b0110af6bfc44d7901997_project_home_02.jpg 833w" sizes="(max-width: 479px) 87vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 25vw" class="image"/>
                   <div data-w-id="643bb22f-b2a6-35b3-3d40-760dbe0113aa" style="display:flex" class="image-animation-trigger"></div>
                </div>
                <div id="w-node-bb218a94-3d6e-9ccc-0a82-090b2a990694-5a6471ce" class="project-image top">
                   <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b011098f8dc4f0c4e7724_project_home_03.jpg" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" srcset="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b011098f8dc4f0c4e7724_project_home_03-p-500.jpg 500w, https://assets.website-files.com/62cbe7468074156bfe6471cd/632b011098f8dc4f0c4e7724_project_home_03.jpg 765w" sizes="(max-width: 479px) 87vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 25vw" class="image"/>
                   <div data-w-id="f3cf2956-bf3c-ab44-e753-dbe39e3fef7c" style="display:flex" class="image-animation-trigger"></div>
                </div>
                <div id="w-node-dac1ba8d-184e-bd60-6416-a1ed41945438-5a6471ce" class="project-image">
                   <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b01103e06d829c7947666_project_home_04.jpg" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" srcset="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b01103e06d829c7947666_project_home_04-p-500.jpg 500w, https://assets.website-files.com/62cbe7468074156bfe6471cd/632b01103e06d829c7947666_project_home_04.jpg 900w" sizes="(max-width: 479px) 87vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 25vw" class="image"/>
                   <div data-w-id="8e5ef323-87cf-ba51-c94b-14f548d7f30d" style="display:flex" class="image-animation-trigger"></div>
                </div>
                <div id="w-node-ea8fbdec-d6e9-1cdf-7b83-52af524bedfd-5a6471ce" class="project-image top">
                   <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b0110b6f0675cad0ac425_project_home_05.jpg" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" srcset="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b0110b6f0675cad0ac425_project_home_05-p-500.jpg 500w, https://assets.website-files.com/62cbe7468074156bfe6471cd/632b0110b6f0675cad0ac425_project_home_05.jpg 922w" sizes="(max-width: 479px) 87vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 25vw" class="image"/>
                   <div data-w-id="f95324e2-d103-5794-a987-407124545250" style="display:flex" class="image-animation-trigger"></div>
                </div>
                <div id="w-node-e48a0f60-01b6-966d-9dfe-e4a423728415-5a6471ce" class="project-image">
                   <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b0110d47372b9a189f262_project_home_06.jpg" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" srcset="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b0110d47372b9a189f262_project_home_06-p-500.jpg 500w, https://assets.website-files.com/62cbe7468074156bfe6471cd/632b0110d47372b9a189f262_project_home_06.jpg 907w" sizes="(max-width: 479px) 87vw, (max-width: 767px) 45vw, (max-width: 991px) 46vw, 25vw" class="image"/>
                   <div data-w-id="c7235535-5772-74fc-78ee-a803212a29bf" style="display:flex" class="image-animation-trigger"></div>
                </div>
                <script type="application/json" class="w-json">{
                   "items": [
                     {
                       "_id": "example_img",
                       "origFileName": "project_img_04.jpg",
                       "fileName": "project_img_04.jpg",
                       "fileSize": 296333,
                       "height": 960,
                       "url": "https://assets.website-files.com/62cbe7468074156bfe6471cd/62cea7604994134c1f10ef88_project_img_04.jpg",
                       "width": 752,
                       "type": "image"
                     },
                     {
                       "_id": "example_img",
                       "origFileName": "project_img_06.jpg",
                       "fileName": "project_img_06.jpg",
                       "fileSize": 291975,
                       "height": 960,
                       "url": "https://assets.website-files.com/62cbe7468074156bfe6471cd/62cea76009417a90ba35488b_project_img_06.jpg",
                       "width": 752,
                       "type": "image"
                     },
                     {
                       "_id": "example_img",
                       "origFileName": "project_img_05.jpg",
                       "fileName": "project_img_05.jpg",
                       "fileSize": 336967,
                       "height": 960,
                       "url": "https://assets.website-files.com/62cbe7468074156bfe6471cd/62cea7608730ba729d0f0651_project_img_05.jpg",
                       "width": 752,
                       "type": "image"
                     },
                     {
                       "_id": "example_img",
                       "origFileName": "project_img_03.jpg",
                       "fileName": "project_img_03.jpg",
                       "fileSize": 397047,
                       "height": 960,
                       "url": "https://assets.website-files.com/62cbe7468074156bfe6471cd/62cea760499413906010ef89_project_img_03.jpg",
                       "width": 752,
                       "type": "image"
                     },
                     {
                       "_id": "example_img",
                       "origFileName": "project_img_01.jpg",
                       "fileName": "project_img_01.jpg",
                       "fileSize": 476302,
                       "height": 960,
                       "url": "https://assets.website-files.com/62cbe7468074156bfe6471cd/62cea7607f8108481729b84e_project_img_01.jpg",
                       "width": 752,
                       "type": "image"
                     },
                     {
                       "_id": "example_img",
                       "origFileName": "project_img_02.jpg",
                       "fileName": "project_img_02.jpg",
                       "fileSize": 327505,
                       "height": 960,
                       "url": "https://assets.website-files.com/62cbe7468074156bfe6471cd/62cea761eef726088e5fc5c9_project_img_02.jpg",
                       "width": 752,
                       "type": "image"
                     }
                   ],
                   "group": ""
                   }
                </script>
             </a>
             <div id="w-node-f739f86c-f041-1f4e-3deb-6e1cc58db9af-5a6471ce" data-w-id="f739f86c-f041-1f4e-3deb-6e1cc58db9af" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="projects-sticky-card">
                <div id="w-node-_75d5911a-c32b-b72b-d2b8-ec70ed554623-5a6471ce" class="project-content">
                   <div class="text-subtitle green">projects</div>
                   <h2 class="heading h2">A peak of our landscape <span class="text-accent">creations</span></h2>
                   <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. </p>
                   <a href="/projects" class="secundary-button w-button">projects</a>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div id="Process" class="section">
       <div class="content">
          <div data-w-id="1f2627cd-bd1f-0756-9ec7-d86fa79755fe" style="-webkit-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 55px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="process-block">
             <div class="w-layout-grid grid-wrapper">
                <div id="w-node-bebf4ff0-4eac-721c-5c2a-5ce2f243cd30-5a6471ce" class="process-content">
                   <div class="text-subtitle center process">process</div>
                   <h2 class="heading h2 white"><span class="text-accent">Watch</span> how we landscape gardens </h2>
                </div>
                <div id="w-node-_15a64feb-4dbd-fb97-703a-f13c8f692081-5a6471ce" class="process-video">
                   <a href="#" class="video-button w-inline-block w-lightbox">
                      <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-360deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-360deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-360deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-360deg) skew(0, 0)" class="video-loop-stroke"></div>
                      <div class="video-icon-wrapper process"><img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/62cd5da1e1c3b9234c1b3dfa_video_icon.svg" loading="lazy" alt="" class="video-icon banner"/></div>
                      <script type="application/json" class="w-json">{
                         "items": [
                           {
                             "url": "https://www.youtube.com/watch?v=hGizn_843Mo",
                             "originalUrl": "https://www.youtube.com/watch?v=hGizn_843Mo",
                             "width": 940,
                             "height": 528,
                             "thumbnailUrl": "https://i.ytimg.com/vi/hGizn_843Mo/hqdefault.jpg",
                             "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FhGizn_843Mo%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DhGizn_843Mo&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FhGizn_843Mo%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
                             "type": "video"
                           }
                         ],
                         "group": ""
                         }
                      </script>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div id="Reviews" class="section">
       <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632d6f6f646f56256a2c5606_shape_04.svg" loading="lazy" alt="" class="shape _04"/>
       <div class="content">
          <div class="centered-heading">
             <div id="w-node-_01b69402-3032-de2a-5e50-e1288546d197-8546d194" class="heading-block-text">
                <div data-w-id="01b69402-3032-de2a-5e50-e1288546d198" class="text-subtitle green centered">reviews</div>
                <h2 data-w-id="01b69402-3032-de2a-5e50-e1288546d19a" class="heading h2 centered">What <span class="text-accent">they</span> say about us</h2>
             </div>
          </div>
          <div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-w-id="01b69402-3032-de2a-5e50-e1288546d19f" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
             <div class="w-slider-mask">
                <div class="w-slide">
                   <div class="w-layout-grid testimonial-slider-grid">
                      <div id="w-node-_01b69402-3032-de2a-5e50-e1288546d1a3-8546d194" class="slider-content-block">
                         <div class="testimonial-quote-wrap">
                            <blockquote class="testimonial-quote">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.”</blockquote>
                         </div>
                         <div class="slide-detail-wrapper">
                            <div class="testimonial-author-wrap">
                               <div class="author-name">Sarah Walker</div>
                               <div class="author-job-title">CEO architect &amp; co</div>
                            </div>
                            <div class="slide-number"><span class="number-accent">01</span>/03</div>
                         </div>
                      </div>
                      <div id="w-node-_01b69402-3032-de2a-5e50-e1288546d1b1-8546d194" class="testimonial-image"><img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b01acc70c7646cb13b680_profile_03.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 81vw, (max-width: 767px) 84vw, (max-width: 991px) 88vw, 87vw" srcset="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b01acc70c7646cb13b680_profile_03-p-500.jpg 500w, https://assets.website-files.com/62cbe7468074156bfe6471cd/632b01acc70c7646cb13b680_profile_03.jpg 920w" class="image-cover"/></div>
                   </div>
                </div>
                <div class="w-slide">
                   <div class="w-layout-grid testimonial-slider-grid">
                      <div id="w-node-_01b69402-3032-de2a-5e50-e1288546d1b5-8546d194" class="slider-content-block">
                         <div class="testimonial-quote-wrap">
                            <blockquote class="testimonial-quote">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.”</blockquote>
                         </div>
                         <div class="slide-detail-wrapper">
                            <div class="testimonial-author-wrap">
                               <div class="author-name">Edward Harrington</div>
                               <div class="author-job-title">Owner ribs &amp; beer</div>
                            </div>
                            <div class="slide-number"><span class="number-accent">02</span>/03</div>
                         </div>
                      </div>
                      <div id="w-node-_01b69402-3032-de2a-5e50-e1288546d1c3-8546d194" class="testimonial-image"><img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b01ac1b4efd09685242b0_profile_01.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 81vw, (max-width: 767px) 84vw, (max-width: 991px) 88vw, 87vw" srcset="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b01ac1b4efd09685242b0_profile_01-p-500.jpg 500w, https://assets.website-files.com/62cbe7468074156bfe6471cd/632b01ac1b4efd09685242b0_profile_01-p-800.jpg 800w, https://assets.website-files.com/62cbe7468074156bfe6471cd/632b01ac1b4efd09685242b0_profile_01.jpg 1107w" class="image-cover"/></div>
                   </div>
                </div>
                <div class="w-slide">
                   <div class="w-layout-grid testimonial-slider-grid">
                      <div id="w-node-_01b69402-3032-de2a-5e50-e1288546d1c7-8546d194" class="slider-content-block">
                         <div class="testimonial-quote-wrap">
                            <blockquote class="testimonial-quote">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.”</blockquote>
                         </div>
                         <div class="slide-detail-wrapper">
                            <div class="testimonial-author-wrap">
                               <div class="author-name">Simon White</div>
                               <div class="author-job-title">Property landlord</div>
                            </div>
                            <div class="slide-number"><span class="number-accent">03</span>/03</div>
                         </div>
                      </div>
                      <div id="w-node-_01b69402-3032-de2a-5e50-e1288546d1d5-8546d194" class="testimonial-image"><img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b01acf5762d35cd2188f6_profile_02.jpg" loading="lazy" alt="" sizes="(max-width: 479px) 81vw, (max-width: 767px) 84vw, (max-width: 991px) 88vw, 87vw" srcset="https://assets.website-files.com/62cbe7468074156bfe6471cd/632b01acf5762d35cd2188f6_profile_02-p-500.jpg 500w, https://assets.website-files.com/62cbe7468074156bfe6471cd/632b01acf5762d35cd2188f6_profile_02.jpg 873w" class="image-cover"/></div>
                   </div>
                </div>
             </div>
             <div class="left-arrow w-slider-arrow-left"><img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/62d6bc963195b84807783136_arrow.svg" loading="lazy" alt="" class="arrow"/></div>
             <div class="right-arrow w-slider-arrow-right"><img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/62d6bc963195b84807783136_arrow.svg" loading="lazy" alt="" class="arrow right"/></div>
             <div class="slide-nav w-slider-nav w-round"></div>
          </div>
       </div>
    </div>
    <div id="Contact" class="section cta">
       <div class="content">
          <div data-w-id="b75efb3c-c32a-07f9-daed-751be25f8931" class="cta-block">
             <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632d733807482bf24bbecce6_shape_06.svg" loading="lazy" alt="" class="shape _05"/><img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632d73381f9d74a0269e56f4_shape_05.svg" loading="lazy" alt="" class="shape _06"/>
             <div id="w-node-b75efb3c-c32a-07f9-daed-751be25f8934-e25f892f" class="cta-text">
                <div class="text-subtitle green centered">get in touch</div>
                <h2 class="heading h2 cta">Contact us today to shape <br/>a stunning landscape.</h2>
                <a href="/contact" class="primary-button w-button">contact</a>
             </div>
          </div>
       </div>
    </div>
    <div data-w-id="456ed695-f17a-480d-0b20-b7aabfef5131" class="footer-section">
       <div class="content">
          <div class="w-layout-grid footer-grid">
             <div id="w-node-_456ed695-f17a-480d-0b20-b7aabfef5134-bfef5131" class="footer-column">
                <img src="https://assets.website-files.com/62cbe7468074156bfe6471cd/632dc607d6a7f223b2a34a54_Logo-dark.svg" loading="lazy" alt="" class="logo"/>
                <p class="paragraph no-margin">Mauris sodales justo eros, quis pulvinar tellus vulputate eget. Suspendisse tempus tellus tellus, nec congue elit sollicitudin at.</p>
             </div>
             <div id="w-node-_456ed695-f17a-480d-0b20-b7aabfef5138-bfef5131" class="footer-column">
                <div class="footer-title">contact info</div>
                <p class="paragraph no-margin">PO Box 16122 Collins Street West Victoria 8007 Australia<br/><br/>+1 310 500 7834</p>
             </div>
             <div id="w-node-_456ed695-f17a-480d-0b20-b7aabfef5141-bfef5131" class="footer-column">
                <div class="footer-title">navigation</div>
                <a href="/services" class="footer-link">Services</a><a href="/about-us" class="footer-link">About us</a><a href="/projects" class="footer-link">Projects</a><a href="/contact" class="footer-link">Contact</a>
             </div>
             <div id="w-node-_456ed695-f17a-480d-0b20-b7aabfef514e-bfef5131" class="footer-column">
                <div class="footer-title">social media</div>
                <a href="https://www.facebook.com/" target="_blank" class="footer-link">Facebook</a><a href="https://www.instagram.com/" target="_blank" class="footer-link">Instagram</a><a href="https://www.linkedin.com/" target="_blank" class="footer-link">LinkedIn</a><a href="https://twitter.com/" target="_blank" class="footer-link">Twitter</a>
             </div>
          </div>
          <div id="w-node-_456ed695-f17a-480d-0b20-b7aabfef5159-bfef5131" class="w-layout-grid detail-footer-grid">
             <div id="w-node-_456ed695-f17a-480d-0b20-b7aabfef515a-bfef5131" class="detail-footer">
                <div class="text-detail-footer">Made by <a href="https://www.nicolasv.io/" target="_blank" class="detail-link"><span class="link-detail-footer">Nicolas Vanlerberghe</span></a>. Powered by <a href="https://webflow.com/" target="_blank" class="detail-link"><span class="link-detail-footer">Webflow</span></a></div>
             </div>
             <div id="w-node-_456ed695-f17a-480d-0b20-b7aabfef5164-bfef5131" class="detail-footer">
                <div class="text-detail-footer"><a href="/template-info/licensing" class="page-links">Licensing</a> - <a href="/template-info/style-guide" target="_blank" class="page-links">Styleguide -</a> <a href="/template-info/changelog" class="page-links">Changelog</a></div>
             </div>
          </div>
       </div>
    </div>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=62cbe7468074156bfe6471cd" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script><script src="https://assets.website-files.com/62cbe7468074156bfe6471cd/js/webflow.ced8119e1.js" type="text/javascript"></script>
 -->

